body {
  font: 13px/22px 'Helvetica Neue', Helvetica, sans;
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 50px; left: 12.5%;
  width: 75%;
  height: 75%;
  }

#keyword {
  float:left; 
  width:100px;  
  clear:right;
}